* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: #e8e8e8;
}

header {
  background-color: yellow;
  height: 70px;
  display: flex;
}

nav {
  color: #636363;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fff;
}

.line-bottom {
  border-bottom: 1px solid #d9d9d9;
}

.btn-page-container {
  width: 220px;
  display: grid;
  grid-gap: 20px;
}

.btn {
  border-radius: 4px;
  height: 42px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3483fa;
}

.btn-blue {
  background-color: #3483fa;
  color: #fff;
  cursor: pointer;
}

.btn-white {
  background-color: #fff;
  color: #3483fa;
  cursor: pointer;
}

.mb20 {
  margin-bottom: 20px;
}
